@page
@model ImportExcelDemo.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}
<style>

    td, th {
        border: 1px solid #ddd;
        border-collapse: collapse;
        padding: 8px;
    }

    table.center tr:hover {
        background-color: #f2f2f2;
    }

    div.ex1 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        width: 100%;
        height: 800px;
        overflow: auto;
    }

    div.ex2 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        margin-left: auto;
        margin-right: auto;
    }

    table.center {
        border: 1px solid #ddd;
    }

        table.center tr:nth-child(even) {
            background-color: #f2f2f2;
        }

            table.center tr:nth-child(even):hover {
                background-color: #ddd;
            }

        table.center tr:hover {
            background-color: #ddd;
        }


    thead {
        padding-top: 12px;
        padding-bottom: 12px;
        border-collapse: collapse;
        color: rgba(255, 255, 255, 0.83);
        background-color: #1f3cc6;
    }

    .btn-primary {
        padding-top: 12px;
        padding-bottom: 12px;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: rgba(255, 255, 255, 0.83);
        background-color: #1f3cc6;
        border-radius: var(--border-radius);
    }

        .btn-primary:hover {
            box-shadow: inset 0 0 0 20rem var(--darken-1);
        }

        .btn-primary:active {
            box-shadow: inset 0 0 0 20rem var(--darken-2), inset 0 3px 4px 0 var(--darken-3),
</style>

<h1>Display_AD_CMDB</h1>

@if (!Model.OptionsSet)
{
    <form method="post" class="form-horizontal" style="width: 80%">
        <fieldset>
            <legend>
                Options
            </legend>
            <div class="form-group">
                <label class=" col-md-4 control-label" for="ComputerOptions">AD Computer Options</label>
                <div class="col-md-4">
                    <label class="checkbox-inline" for="ComputerOptions-0">
                        <input type="checkbox" name="ComputerOptions-0" id="ComputerOptions-0" value=" 0" />
                        Computer Name
                    </label>
                    <label class="checkbox-inline" for="ComputerOptions-1">
                        <input type="checkbox" name="ComputerOptions-1" id="ComputerOptions-1" value=" 1" />
                        Program Office
                    </label>
                    <label class="checkbox-inline" for="ComputerOptions-2">
                        <input type="checkbox" name="ComputerOptions-2" id="ComputerOptions-2" value=" 2" />
                        OS Type
                    </label>
                    <label class="checkbox-inline" for="ComputerOptions-3">
                        <input type="checkbox" name="ComputerOptions-3" id="ComputerOptions-3" value=" 3" />
                        OS Version
                    </label>
                    <label class="checkbox-inline" for="ComputerOptions-4">
                        <input type="checkbox" name="ComputerOptions-4" id="ComputerOptions-4" value=" 4" />
                        Service Pack
                    </label>
                    <label class="checkbox-inline" for="ComputerOptions-5">
                        <input type="checkbox" name="ComputerOptions-5" id="ComputerOptions-5" value=" 5" />
                        Date Created
                    </label>
                    <label class="checkbox-inline" for="ComputerOptions-6">
                        <input type="checkbox" name="ComputerOptions-6" id="ComputerOptions-6" value=" 6" />
                        Date Changed
                    </label>
                    <label class="checkbox-inline" for="ComputerOptions-7">
                        <input type="checkbox" name="ComputerOptions-7" id="ComputerOptions-7" value=" 7" />
                        UAC
                    </label>
                    <label class="checkbox-inline" for="ComputerOptions-8">
                        <input type="checkbox" name="ComputerOptions-8" id="ComputerOptions-8" value=" 8" />
                        Account Disabled
                    </label>
                    <label class="checkbox-inline" for="ComputerOptions-9">
                        <input type="checkbox" name="ComputerOptions-9" id="ComputerOptions-9" value=" 9" />
                        Smart Card Required
                    </label>
                    <label class="checkbox-inline" for="ComputerOptions-10">
                        <input type="checkbox" name="ComputerOptions-10" id="ComputerOptions-10" value=" 10" />
                        Description
                    </label>
                    <label class="checkbox-inline" for="ComputerOptions-11">
                        <input type="checkbox" name="ComputerOptions-11" id="ComputerOptions-11" value=" 11" />
                        DN
                    </label>
                    <label class="checkbox-inline" for="ComputerOptions-12">
                        <input type="checkbox" name="ComputerOptions-12" id="ComputerOptions-12" value=" 12" />
                        Windows 7 Status Extended Info
                    </label>
                    <br />
                    <label class="checkbox-inline" for="ComputerOptions-1">
                        <input type="checkbox" name="ComputerOptions-13" id="ComputerOptions-13" value=" 13" />
                        Select All
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class=" col-md-4 control-label" for="CMDBOptions">CMDB Options</label>
                <div class="col-md-4">
                    <label class="checkbox-inline" for="CMDBOptions-0">
                        <input type="checkbox" name="CMDBOptions-0" id="CMDBOptions-0" value=" 0" />
                        CD Tag
                    </label>
                    <label class="checkbox-inline" for="CMDBOptions-1">
                        <input type="checkbox" name="CMDBOptions-1" id="CMDBOptions-1" value=" 1" />
                        Organization
                    </label>
                    <label class="checkbox-inline" for="CMDBOptions-2">
                        <input type="checkbox" name="CMDBOptions-2" id="CMDBOptions-2" value=" 2" />
                        Host Name = AD Computer Name
                    </label>
                    <label class="checkbox-inline" for="CMDBOptions-3">
                        <input type="checkbox" name="CMDBOptions-3" id="CMDBOptions-3" value=" 3" />
                        Location
                    </label>
                    <label class="checkbox-inline" for="CMDBOptions-4">
                        <input type="checkbox" name="CMDBOptions-4" id="CMDBOptions-4" value=" 4" />
                        Floor
                    </label>
                    <label class="checkbox-inline" for="CMDBOptions-5">
                        <input type="checkbox" name="CMDBOptions-5" id="CMDBOptions-5" value=" 5" />
                        Room
                    </label>
                    <label class="checkbox-inline" for="CMDBOptions-6">
                        <input type="checkbox" name="CMDBOptions-6" id="CMDBOptions-6" value=" 6" />
                        IP Address
                    </label>
                    <label class="checkbox-inline" for="CMDBOptions-7">
                        <input type="checkbox" name="CMDBOptions-7" id="CMDBOptions-7" value=" 7" />
                        Subnet Mask
                    </label>
                    <label class="checkbox-inline" for="CMDBOptions-8">
                        <input type="checkbox" name="CMDBOptions-8" id="CMDBOptions-8" value=" 8" />
                        MAC Address
                    </label>
                    <label class="checkbox-inline" for="CMDBOptions-9">
                        <input type="checkbox" name="CMDBOptions-9" id="CMDBOptions-9" value=" 9" />
                        Manufacturer
                    </label>
                    <label class="checkbox-inline" for="CMDBOptions-10">
                        <input type="checkbox" name="CMDBOptions-10" id="CMDBOptions-10" value=" 10" />
                        Model
                    </label>
                    <label class="checkbox-inline" for="CMDBOptions-11">
                        <input type="checkbox" name="CMDBOptions-11" id="CMDBOptions-11" value=" 11" />
                        Serial Number
                    </label>
                    <label class="checkbox-inline" for="CMDBOptions-12">
                        <input type="checkbox" name="CMDBOptions-12" id="CMDBOptions-12" value=" 12" />
                        Operating System
                    </label>
                    <br>
                    <label class="checkbox-inline" for="CMDBOptions-13">
                        <input type="checkbox" name="CMDBOptions-13" id="CMDBOptions-13" value=" 13" />
                        AD User
                    </label>
                    <label class="checkbox-inline" for="CMDBOptions-14">
                        <input type="checkbox" name="CMDBOptions-14" id="CMDBOptions-14" value=" 14" />
                        Sunflower User
                    </label>
                    <label class="checkbox-inline" for="CMDBOptions-15">
                        <input type="checkbox" name="CMDBOptions-15" id="CMDBOptions-15" value=" 15" />
                        Status
                    </label>
                    <label class="checkbox-inline" for="CMDBOptions-16">
                        <input type="checkbox" name="CMDBOptions-16" id="CMDBOptions-16" value=" 16" />
                        Class - Type
                    </label>
                    <label class="checkbox-inline" for="CMDBOptions-17">
                        <input type="checkbox" name="CMDBOptions-17" id="CMDBOptions-17" value=" 17" />
                        Acquisition Date
                    </label>
                    <label class="checkbox-inline" for="CMDBOptions-18">
                        <input type="checkbox" name="CMDBOptions-18" id="CMDBOptions-18" value=" 18" />
                        Warranty End date
                    </label>
                    <label class="checkbox-inline" for="CMDBOptions-19">
                        <input type="checkbox" name="CMDBOptions-19" id="CMDBOptions-19" value=" 19" />
                        Custodian
                    </label>
                    <label class="checkbox-inline" for="CMDBOptions-20">
                        <input type="checkbox" name="CMDBOptions-20" id="CMDBOptions-20" value=" 20" />
                        Comments
                    </label>
                    <label class="checkbox-inline" for="CMDBOptions-21">
                        <input type="checkbox" name="CMDBOptions-21" id="CMDBOptions-21" value=" 21" />
                        Inventoried By
                    </label>
                    <label class="checkbox-inline" for="CMDBOptions-22">
                        <input type="checkbox" name="CMDBOptions-22" id="CMDBOptions-22" value=" 22" />
                        Inventory Date
                    </label>
                    <label class="checkbox-inline" for="CMDBOptions-23">
                        <input type="checkbox" name="CMDBOptions-23" id="CMDBOptions-23" value=" 23" />
                        Last Scan
                    </label>
                    <label class="checkbox-inline" for="CMDBOptions-24">
                        <input type="checkbox" name="CMDBOptions-24" id="CMDBOptions-24" value=" 24" />
                        Modified By
                    </label>
                    <label class="checkbox-inline" for="CMDBOptions-25">
                        <input type="checkbox" name="CMDBOptions-25" id="CMDBOptions-25" value=" 25" />
                        Modified
                    </label>
                    <br>
                    <label class="checkbox-inline" for="CMDBOptions-26">
                        <input type="checkbox" name="CMDBOptions-26" id="CMDBOptions-26" value=" 26" />
                        Select All
                    </label>
                </div>
            </div>
        </fieldset>
        <button method="post" asp-page-handler="Display" asp-route-id="0" class="btn btn-primary">Display</button>
    </form>
}
@if (Model.OptionsSet)
{
    <div class="ex1">
        <div class="ex2">
            <h1 class="center">Display Tables</h1>
            @ViewData.Model.StatusMessage
            <br />
            @ViewData.Model.NumMessage
        </div>
        <form method="post">
            <button method="post" asp-page-handler="Refresh" class="btn btn-primary">Refresh</button>
            <table class="center">
                <thead>
                    <tr>
                        @if (Model.ComputerOptions.Contains("ComputerOptions-0"))
                        {

                            <th>

                                @Html.DisplayNameFor(model => model.AD_Computers[0].ADComputerName)

                            </th>
                        }
                        @if (Model.ComputerOptions.Contains("ComputerOptions-1"))
                        {

                            <th>
                                @Html.DisplayNameFor(model => model.AD_Computers[0].ProgramOffice)

                            </th>
                        }
                        @if (Model.ComputerOptions.Contains("ComputerOptions-2"))
                        {

                            <th>
                                @Html.DisplayNameFor(model => model.AD_Computers[0].OSType)
                            </th>
                        }
                        @if (Model.ComputerOptions.Contains("ComputerOptions-3"))
                        {

                            <th>

                                @Html.DisplayNameFor(model => model.AD_Computers[0].OSVersion)
                            </th>
                        }
                        @if (Model.ComputerOptions.Contains("ComputerOptions-4"))
                        {

                            <th>
                                @Html.DisplayNameFor(model => model.AD_Computers[0].ServicePack)
                            </th>
                        }
                        @if (Model.ComputerOptions.Contains("ComputerOptions-5"))
                        {
                            <th>

                                @Html.DisplayNameFor(model => model.AD_Computers[0].Created)

                            </th>
                        }

                        @if (Model.ComputerOptions.Contains("ComputerOptions-6"))
                        {
                            <th>

                                @Html.DisplayNameFor(model => model.AD_Computers[0].Changed)
                            </th>
                        }

                        @if (Model.ComputerOptions.Contains("ComputerOptions-7"))
                        {
                            <th>
                                @Html.DisplayNameFor(model => model.AD_Computers[0].UAC)
                            </th>
                        }
                        @if (Model.ComputerOptions.Contains("ComputerOptions-8"))
                        {


                            <th>
                                @Html.DisplayNameFor(model => model.AD_Computers[0].AccountDisabled)
                            </th>
                        }

                        @if (Model.ComputerOptions.Contains("ComputerOptions-9"))
                        {

                            <th>
                                @Html.DisplayNameFor(model => model.AD_Computers[0].SmartCardRequired)

                            </th>
                        }

                        @if (Model.ComputerOptions.Contains("ComputerOptions-10"))
                        {
                            <th>

                                @Html.DisplayNameFor(model => model.AD_Computers[0].Description)

                            </th>
                        }

                        @if (Model.ComputerOptions.Contains("ComputerOptions-11"))
                        {

                            <th>
                                @Html.DisplayNameFor(model => model.AD_Computers[0].DN)
                            </th>
                        }

                        @if (Model.ComputerOptions.Contains("ComputerOptions-12"))
                        {

                            <th>
                                @Html.DisplayNameFor(model => model.AD_Computers[0].Win7StatusExtendedinfo)

                            </th>
                        }
                        @if (Model.CMDBOptions.Contains("CMDBOptions-0"))
                        {

                            <th>

                                @Html.DisplayNameFor(model => model.Cmdbs[0].CDTag)

                            </th>
                        }
                        @if (Model.CMDBOptions.Contains("CMDBOptions-1"))
                        {

                            <th>
                                @Html.DisplayNameFor(model => model.Cmdbs[0].Org)

                            </th>
                        }
                        @if (Model.CMDBOptions.Contains("CMDBOptions-2"))
                        {

                            <th>
                                @Html.DisplayNameFor(model => model.Cmdbs[0].HostName)
                            </th>
                        }
                        @if (Model.CMDBOptions.Contains("CMDBOptions-3"))
                        {

                            <th>

                                @Html.DisplayNameFor(model => model.Cmdbs[0].Location)
                            </th>
                        }
                        @if (Model.CMDBOptions.Contains("CMDBOptions-4"))
                        {

                            <th>
                                @Html.DisplayNameFor(model => model.Cmdbs[0].Floor)
                            </th>
                        }
                        @if (Model.CMDBOptions.Contains("CMDBOptions-5"))
                        {
                            <th>

                                @Html.DisplayNameFor(model => model.Cmdbs[0].Room)

                            </th>
                        }

                        @if (Model.CMDBOptions.Contains("CMDBOptions-6"))
                        {
                            <th>

                                @Html.DisplayNameFor(model => model.Cmdbs[0].IpAddress)
                            </th>
                        }

                        @if (Model.CMDBOptions.Contains("CMDBOptions-7"))
                        {
                            <th>
                                @Html.DisplayNameFor(model => model.Cmdbs[0].SubnetMask)
                            </th>
                        }
                        @if (Model.CMDBOptions.Contains("CMDBOptions-8"))
                        {


                            <th>
                                @Html.DisplayNameFor(model => model.Cmdbs[0].MacAddress)
                            </th>
                        }

                        @if (Model.CMDBOptions.Contains("CMDBOptions-9"))
                        {

                            <th>
                                @Html.DisplayNameFor(model => model.Cmdbs[0].Manufacturer)

                            </th>
                        }

                        @if (Model.CMDBOptions.Contains("CMDBOptions-10"))
                        {
                            <th>

                                @Html.DisplayNameFor(model => model.Cmdbs[0].Model)

                            </th>
                        }

                        @if (Model.CMDBOptions.Contains("CMDBOptions-11"))
                        {

                            <th>
                                @Html.DisplayNameFor(model => model.Cmdbs[0].SerialNumber)
                            </th>
                        }

                        @if (Model.CMDBOptions.Contains("CMDBOptions-12"))
                        {

                            <th>
                                @Html.DisplayNameFor(model => model.Cmdbs[0].OperatingSystem)

                            </th>
                        }
                        @if (Model.CMDBOptions.Contains("CMDBOptions-13"))
                        {

                            <th>

                                @Html.DisplayNameFor(model => model.Cmdbs[0].AdUser)

                            </th>
                        }
                        @if (Model.CMDBOptions.Contains("CMDBOptions-14"))
                        {

                            <th>
                                @Html.DisplayNameFor(model => model.Cmdbs[0].SunflowerUser)

                            </th>
                        }
                        @if (Model.CMDBOptions.Contains("CMDBOptions-15"))
                        {

                            <th>
                                @Html.DisplayNameFor(model => model.Cmdbs[0].Status)
                            </th>
                        }
                        @if (Model.CMDBOptions.Contains("CMDBOptions-16"))
                        {

                            <th>

                                @Html.DisplayNameFor(model => model.Cmdbs[0].ClassType)
                            </th>
                        }
                        @if (Model.CMDBOptions.Contains("CMDBOptions-17"))
                        {

                            <th>
                                @Html.DisplayNameFor(model => model.Cmdbs[0].AcquisitionDate)
                            </th>
                        }
                        @if (Model.CMDBOptions.Contains("CMDBOptions-18"))
                        {
                            <th>

                                @Html.DisplayNameFor(model => model.Cmdbs[0].WarrantyEndDate)

                            </th>
                        }

                        @if (Model.CMDBOptions.Contains("CMDBOptions-19"))
                        {
                            <th>

                                @Html.DisplayNameFor(model => model.Cmdbs[0].Custodian)
                            </th>
                        }

                        @if (Model.CMDBOptions.Contains("CMDBOptions-20"))
                        {
                            <th>
                                @Html.DisplayNameFor(model => model.Cmdbs[0].Comments)
                            </th>
                        }
                        @if (Model.CMDBOptions.Contains("CMDBOptions-21"))
                        {


                            <th>
                                @Html.DisplayNameFor(model => model.Cmdbs[0].InventoriedBy)
                            </th>
                        }

                        @if (Model.CMDBOptions.Contains("CMDBOptions-22"))
                        {

                            <th>
                                @Html.DisplayNameFor(model => model.Cmdbs[0].InventoryDate)

                            </th>
                        }

                        @if (Model.CMDBOptions.Contains("CMDBOptions-23"))
                        {
                            <th>

                                @Html.DisplayNameFor(model => model.Cmdbs[0].LastScan)

                            </th>
                        }

                        @if (Model.CMDBOptions.Contains("CMDBOptions-24"))
                        {

                            <th>
                                @Html.DisplayNameFor(model => model.Cmdbs[0].ModifiedBy)
                            </th>
                        }

                        @if (Model.CMDBOptions.Contains("CMDBOptions-25"))
                        {

                            <th>
                                @Html.DisplayNameFor(model => model.Cmdbs[0].Modified)

                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for(int i = 0; i < Model.AD_Computers.Count() - 1; i++)
                    {
                    <tr>
                        @if (Model.ComputerOptions.Contains("ComputerOptions-0"))
                        {

                            <th>
                                @Model.AD_Computers.ToArray()[i + 1].ADComputerName

                            </th>
                        }

                        @if (Model.ComputerOptions.Contains("ComputerOptions-1"))
                        {

                            <th>
                                @Model.AD_Computers.ToArray()[i + 1].ProgramOffice
                            </th>
                        }

                        @if (Model.ComputerOptions.Contains("ComputerOptions-2"))
                        {

                            <th>
                                @Model.AD_Computers.ToArray()[i + 1].OSType
                            </th>
                        }

                        @if (Model.ComputerOptions.Contains("ComputerOptions-3"))
                        {

                            <th>
                                @Model.AD_Computers.ToArray()[i + 1].OSVersion
                            </th>
                        }

                        @if (Model.ComputerOptions.Contains("ComputerOptions-4"))
                        {

                            <th>
                                @Model.AD_Computers.ToArray()[i + 1].ServicePack
                            </th>
                        }

                        @if (Model.ComputerOptions.Contains("ComputerOptions-5"))
                        {

                            <th>
                                @Model.AD_Computers.ToArray()[i + 1].Created
                            </th>
                        }

                        @if (Model.ComputerOptions.Contains("ComputerOptions-6"))
                        {

                            <th>
                                @Model.AD_Computers.ToArray()[i + 1].Changed
                            </th>
                        }

                        @if (Model.ComputerOptions.Contains("ComputerOptions-7"))
                        {

                            <th>
                                @Model.AD_Computers.ToArray()[i + 1].UAC
                            </th>
                        }

                        @if (Model.ComputerOptions.Contains("ComputerOptions-8"))
                        {

                            <th>
                                @Model.AD_Computers.ToArray()[i + 1].AccountDisabled
                            </th>
                        }

                        @if (Model.ComputerOptions.Contains("ComputerOptions-9"))
                        {

                            <th>
                                @Model.AD_Computers.ToArray()[i + 1].SmartCardRequired
                            </th>
                        }

                        @if (Model.ComputerOptions.Contains("ComputerOptions-10"))
                        {

                            <th>
                                @Model.AD_Computers.ToArray()[i + 1].Description
                            </th>
                        }

                        @if (Model.ComputerOptions.Contains("ComputerOptions-11"))
                        {

                            <th>
                                @Model.AD_Computers.ToArray()[i + 1].DN
                            </th>
                        }


                        @if (Model.ComputerOptions.Contains("ComputerOptions-12"))
                        {

                            <th>
                                @Model.AD_Computers.ToArray()[i + 1].Win7StatusExtendedinfo
                            </th>
                        }

                        @if (Model.CMDBOptions.Contains("CMDBOptions-0"))
                        {

                            <th>

                                @Model.Cmdbs.ToArray()[i+1].CDTag

                            </th>
                        }
                        @if (Model.CMDBOptions.Contains("CMDBOptions-1"))
                        {

                            <th>
                                @Model.Cmdbs.ToArray()[i+1].Org

                            </th>
                        }
                        @if (Model.CMDBOptions.Contains("CMDBOptions-2"))
                        {

                            <th>
                                @Model.Cmdbs.ToArray()[i+1].HostName
                            </th>
                        }
                        @if (Model.CMDBOptions.Contains("CMDBOptions-3"))
                        {

                            <th>

                                @Model.Cmdbs.ToArray()[i+1].Location
                            </th>
                        }
                        @if (Model.CMDBOptions.Contains("CMDBOptions-4"))
                        {

                            <th>
                                @Model.Cmdbs.ToArray()[i+1].Floor
                            </th>
                        }
                        @if (Model.CMDBOptions.Contains("CMDBOptions-5"))
                        {
                            <th>

                                @Model.Cmdbs.ToArray()[i+1].Room

                            </th>
                        }

                        @if (Model.CMDBOptions.Contains("CMDBOptions-6"))
                        {
                            <th>

                                @Model.Cmdbs.ToArray()[i+1].IpAddress
                            </th>
                        }

                        @if (Model.CMDBOptions.Contains("CMDBOptions-7"))
                        {
                            <th>
                                @Model.Cmdbs.ToArray()[i+1].SubnetMask
                            </th>
                        }
                        @if (Model.CMDBOptions.Contains("CMDBOptions-8"))
                        {


                            <th>
                                @Model.Cmdbs.ToArray()[i+1].MacAddress
                            </th>
                        }

                        @if (Model.CMDBOptions.Contains("CMDBOptions-9"))
                        {

                            <th>
                                @Model.Cmdbs.ToArray()[i+1].Manufacturer

                            </th>
                        }

                        @if (Model.CMDBOptions.Contains("CMDBOptions-10"))
                        {
                            <th>

                                @Model.Cmdbs.ToArray()[i+1].Model

                            </th>
                        }

                        @if (Model.CMDBOptions.Contains("CMDBOptions-11"))
                        {

                            <th>
                                @Model.Cmdbs.ToArray()[i+1].SerialNumber
                            </th>
                        }

                        @if (Model.CMDBOptions.Contains("CMDBOptions-12"))
                        {

                            <th>
                                @Model.Cmdbs.ToArray()[i+1].OperatingSystem

                            </th>
                        }
                        @if (Model.CMDBOptions.Contains("CMDBOptions-13"))
                        {

                            <th>

                                @Model.Cmdbs.ToArray()[i+1].AdUser

                            </th>
                        }
                        @if (Model.CMDBOptions.Contains("CMDBOptions-14"))
                        {

                            <th>
                                @Model.Cmdbs.ToArray()[i+1].SunflowerUser

                            </th>
                        }
                        @if (Model.CMDBOptions.Contains("CMDBOptions-15"))
                        {

                            <th>
                                @Model.Cmdbs.ToArray()[i+1].Status
                            </th>
                        }
                        @if (Model.CMDBOptions.Contains("CMDBOptions-16"))
                        {

                            <th>

                                @Model.Cmdbs.ToArray()[i+1].ClassType
                            </th>
                        }
                        @if (Model.CMDBOptions.Contains("CMDBOptions-17"))
                        {

                            <th>
                                @Model.Cmdbs.ToArray()[i+1].AcquisitionDate
                            </th>
                        }
                        @if (Model.CMDBOptions.Contains("CMDBOptions-18"))
                        {
                            <th>

                                @Model.Cmdbs.ToArray()[i+1].WarrantyEndDate

                            </th>
                        }

                        @if (Model.CMDBOptions.Contains("CMDBOptions-19"))
                        {
                            <th>

                                @Model.Cmdbs.ToArray()[i+1].Custodian
                            </th>
                        }

                        @if (Model.CMDBOptions.Contains("CMDBOptions-20"))
                        {
                            <th>
                                @Model.Cmdbs.ToArray()[i+1].Comments
                            </th>
                        }
                        @if (Model.CMDBOptions.Contains("CMDBOptions-21"))
                        {


                            <th>
                                @Model.Cmdbs.ToArray()[i+1].InventoriedBy
                            </th>
                        }

                        @if (Model.CMDBOptions.Contains("CMDBOptions-22"))
                        {

                            <th>
                                @Model.Cmdbs.ToArray()[i+1].InventoryDate

                            </th>
                        }

                        @if (Model.CMDBOptions.Contains("CMDBOptions-23"))
                        {
                            <th>

                                @Model.Cmdbs.ToArray()[i+1].LastScan

                            </th>
                        }

                        @if (Model.CMDBOptions.Contains("CMDBOptions-24"))
                        {

                            <th>
                                @Model.Cmdbs.ToArray()[i+1].ModifiedBy
                            </th>
                        }

                        @if (Model.CMDBOptions.Contains("CMDBOptions-25"))
                        {

                            <th>
                                @Model.Cmdbs.ToArray()[i+1].Modified

                            </th>
                        }
                    </tr>
                    }
                </tbody>
            </table>
            <br />
            <br />
        </form>
    </div>
}
