@page
@model ImportExcelDemo.Pages.DisplayCMDB.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cmdb</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cmdb.CDTag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmdb.CDTag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cmdb.Org)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmdb.Org)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cmdb.HostName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmdb.HostName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cmdb.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmdb.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cmdb.Floor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmdb.Floor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cmdb.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmdb.Room)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cmdb.IpAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmdb.IpAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cmdb.SubnetMask)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmdb.SubnetMask)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cmdb.MacAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmdb.MacAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cmdb.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmdb.Manufacturer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cmdb.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmdb.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cmdb.SerialNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmdb.SerialNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cmdb.OperatingSystem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmdb.OperatingSystem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cmdb.AdUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmdb.AdUser)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cmdb.SunflowerUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmdb.SunflowerUser)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cmdb.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmdb.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cmdb.ClassType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmdb.ClassType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cmdb.AcquisitionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmdb.AcquisitionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cmdb.WarrantyEndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmdb.WarrantyEndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cmdb.Custodian)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmdb.Custodian)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cmdb.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmdb.Comments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cmdb.InventoriedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmdb.InventoriedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cmdb.InventoryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmdb.InventoryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cmdb.LastScan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmdb.LastScan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cmdb.ModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmdb.ModifiedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cmdb.Modified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmdb.Modified)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Cmdb.CmdbID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
