@page
@model ImportExcelDemo.Pages.DisplayTable.IndexModel
@{
    ViewData["Title"] = "Index";
}


<img src="~/sql-joins.png" />
<hr />
<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Joining Form</legend>

        <!-- Multiple Checkboxes (inline) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="DataSets">Data Sources</label>
            <div class="col-md-4">
                <label class="checkbox-inline" for="DataSets-0">
                    <input type="checkbox" name="DataSets" id="DataSets-0" value="1">
                    CMDB
                </label>
                <label class="checkbox-inline" for="DataSets-1">
                    <input type="checkbox" name="DataSets" id="DataSets-1" value="2">
                    Sunflower
                </label>
                <label class="checkbox-inline" for="DataSets-2">
                    <input type="checkbox" name="DataSets" id="DataSets-2" value="3">
                    EPO
                </label>
                <label class="checkbox-inline" for="DataSets-3">
                    <input type="checkbox" name="DataSets" id="DataSets-3" value="4">
                    ECMO
                </label>
                <label class="checkbox-inline" for="DataSets-4">
                    <input type="checkbox" name="DataSets" id="DataSets-4" value="5">
                    AD
                </label>
                <label class="checkbox-inline" for="DataSets-5">
                    <input type="checkbox" name="DataSets" id="DataSets-5" value="6">
                    SCCM
                </label>
            </div>
        </div>

        <!-- Select Basic -->
        <!--
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectbasic">Select Field</label>
            <div class="col-md-5">
                <select id="selectbasic" name="selectbasic" class="form-control">
                    <option value="1">CD Num</option>
                    <option value="2">Location</option>
                    <option value="3">User</option>
                </select>
            </div>
        </div>


            -->
        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton">Submit</label>
            <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </fieldset>
</form>

<hr />

<h1>Display Tables...</h1>

<!-- JSON Result Button -->

<label class="col-md-4 control-label" for="singlebutton">JSON Result</label>
<div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" asp-page-handler="List">Click</button>
</div>


<br />
<br />


<span style="color:red;">
    @ViewData.Model.StatusMessage
</span>
<br />
<span style="color:red;">
    @ViewData.Model.NumMessage
</span>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cmdbs[0].CDTag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cmdbs[0].Org)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cmdbs[0].HostName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cmdbs[0].Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cmdbs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CDTag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Org)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HostName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.CmdbID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.CmdbID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.CmdbID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<br />
<!-- Fix Joined Table...

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cmdbs[0].CDTag) //Change to JoinTable[0]
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cmdbs[0].Org)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cmdbs[0].HostName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cmdbs[0].Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cmdbs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CDTag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Org)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HostName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.CmdbID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.CmdbID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.CmdbID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

-->
