@page
@model ImportExcelDemo.Pages.DisplayAD.IndexModel
@{
    ViewData["Title"] = "Index";
}

<hr />

@if (Model.FirstOptionChecked == true && Model.OptionsSet == true)
{
    <form method="post" class="form-horizontal">
        <button method="post" asp-page-handler="Refresh" class="btn btn-primary">Refresh</button>
    </form>
}
else if (Model.FirstOptionChecked == false && Model.OptionsSet == false)
{
    <form method="post" class="form-horizontal">
        <fieldset>
            <!-- Form Name -->
            <legend>Selection Form</legend>

            <!-- Multiple Checkboxes -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="DataSets">Data Sources</label>
                <div class="col-md-4">
                    <label class="checkbox-inline" for="DataSets-0">
                        <input type="checkbox" name="DataSets" id="DataSets-0" value="0">
                        AD_User
                    </label>
                    <label class="checkbox-inline" for="DataSets-1">
                        <input type="checkbox" name="DataSets" id="DataSets-1" value="1">
                        AD_Computer
                    </label>
                </div>
            </div>
            <button method="post" asp-page-handler="Submit" asp-route-id="0" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
}

<hr />

@if (Model.FirstOptionChecked == true && Model.OptionsSet == false)
{
    @if (Model.DataSet == 0)
    {
        <form method="post" class="form-horizontal">
            <fieldset>
                <legend>
                    Options
                </legend>
                <div class="form-group">
                    <label class=" col-md-4 control-label" for="DatasetsOptions">Data Options</label>
                    <div class="col-md-4">
                        <label class="checkbox-inline" for="DataSetsOptions-0">
                            <input type="checkbox" name="DataSetsOptions-0" id="DataSetsOptions-0" value=" 0" />
                            User Id
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-1">
                            <input type="checkbox" name="DataSetsOptions-1" id="DataSetsOptions-1" value=" 1" />
                            Program Office
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-2">
                            <input type="checkbox" name="DataSetsOptions-2" id="DataSetsOptions-2" value=" 2" />
                            CAC Exemption Reason
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-3">
                            <input type="checkbox" name="DataSetsOptions-3" id="DataSetsOptions-3" value=" 3" />
                            Smart Card Required
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-4">
                            <input type="checkbox" name="DataSetsOptions-4" id="DataSetsOptions-4" value=" 4" />
                            User E-mail Address
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-5">
                            <input type="checkbox" name="DataSetsOptions-5" id="DataSetsOptions-5" value=" 5" />
                            Employee Type
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-6">
                            <input type="checkbox" name="DataSetsOptions-6" id="DataSetsOptions-6" value=" 6" />
                            SAM Account Name
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-7">
                            <input type="checkbox" name="DataSetsOptions-7" id="DataSetsOptions-7" value=" 7" />
                            Description
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-8">
                            <input type="checkbox" name="DataSetsOptions-8" id="DataSetsOptions-8" value=" 8" />
                            User Principal Name
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-9">
                            <input type="checkbox" name="DataSetsOptions-9" id="DataSetsOptions-9" value=" 9" />
                            Account Disabled
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-10">
                            <input type="checkbox" name="DataSetsOptions-10" id="DataSetsOptions-10" value=" 10" />
                            Password Does Not Expire
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-11">
                            <input type="checkbox" name="DataSetsOptions-11" id="DataSetsOptions-11" value=" 11" />
                            Password Cannot Change
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-12">
                            <input type="checkbox" name="DataSetsOptions-12" id="DataSetsOptions-12" value=" 12" />
                            Password Expired
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-13">
                            <input type="checkbox" name="DataSetsOptions-13" id="DataSetsOptions-13" value=" 13" />
                            Account Locked Out
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-14">
                            <input type="checkbox" name="DataSetsOptions-14" id="DataSetsOptions-14" value=" 14" />
                            CAC Extended Info
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-15">
                            <input type="checkbox" name="DataSetsOptions-15" id="DataSetsOptions-15" value=" 15" />
                            UAC
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-16">
                            <input type="checkbox" name="DataSetsOptions-16" id="DataSetsOptions-16" value=" 16" />
                            User Name
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-17">
                            <input type="checkbox" name="DataSetsOptions-17" id="DataSetsOptions-17" value=" 17" />
                            DN
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-18">
                            <input type="checkbox" name="DataSetsOptions-18" id="DataSetsOptions-18" value=" 18" />
                            Date Created
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-19">
                            <input type="checkbox" name="DataSetsOptions-19" id="DataSetsOptions-19" value=" 19" />
                            Date Changed
                        </label>
                    </div>
                </div>
            </fieldset>
            <button method="post" asp-page-handler="Display" asp-route-id="1" class="btn btn-primary">Display</button>
        </form>
    }
    else if (Model.DataSet == 1)
    {
        <form method="post" class="form-horizontal">
            <fieldset>
                <legend>
                    Options
                </legend>
                <div class="form-group">
                    <label class=" col-md-4 control-label" for="DatasetsOptions">Data Options</label>
                    <div class="col-md-4">
                        <label class="checkbox-inline" for="DataSetsOptions-0">
                            <input type="checkbox" name="DataSetsOptions-0" id="DataSetsOptions-0" value=" 0" />
                            Computer Name
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-1">
                            <input type="checkbox" name="DataSetsOptions-1" id="DataSetsOptions-1" value=" 1" />
                            Program Office
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-2">
                            <input type="checkbox" name="DataSetsOptions-2" id="DataSetsOptions-2" value=" 2" />
                            OS Type
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-3">
                            <input type="checkbox" name="DataSetsOptions-3" id="DataSetsOptions-3" value=" 3" />
                            OS Version
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-4">
                            <input type="checkbox" name="DataSetsOptions-4" id="DataSetsOptions-4" value=" 4" />
                            Service Pack
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-5">
                            <input type="checkbox" name="DataSetsOptions-5" id="DataSetsOptions-5" value=" 5" />
                            Date Created
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-6">
                            <input type="checkbox" name="DataSetsOptions-6" id="DataSetsOptions-6" value=" 6" />
                            Date Changed
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-7">
                            <input type="checkbox" name="DataSetsOptions-7" id="DataSetsOptions-7" value=" 7" />
                            UAC
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-8">
                            <input type="checkbox" name="DataSetsOptions-8" id="DataSetsOptions-8" value=" 8" />
                            Account Disabled
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-9">
                            <input type="checkbox" name="DataSetsOptions-9" id="DataSetsOptions-9" value=" 9" />
                            Smart Card Required
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-10">
                            <input type="checkbox" name="DataSetsOptions-10" id="DataSetsOptions-10" value=" 10" />
                            Description
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-11">
                            <input type="checkbox" name="DataSetsOptions-11" id="DataSetsOptions-11" value=" 11" />
                            DN
                        </label>
                        <label class="checkbox-inline" for="DataSetsOptions-12">
                            <input type="checkbox" name="DataSetsOptions-12" id="DataSetsOptions-12" value=" 12" />
                            Windows 7 Status Extended Info
                        </label>
                    </div>
                </div>
            </fieldset>
            <button method="post" asp-page-handler="Display" class="btn btn-primary">Display</button>
        </form>
    }
}

@if (Model.FirstOptionChecked == true && Model.OptionsSet == true)
{
    @if (Model.DataSet == 0)
    {
        <h1>Display Tables</h1>
        <form>
            <div style="color:red;">
                @ViewData.Model.StatusMessage
                <br />
                @ViewData.Model.NumMessage
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-0"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Users[0].ADUserId)
                            }
                        </th>
                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-1"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Users[0].ProgramOffice)
                            }
                        </th>
                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-2"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Users[0].CACexemptionreason)
                            }
                        </th>
                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-3"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Users[0].SmartCardRequired)
                            }
                        </th>
                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-4"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Users[0].UserEmailAddress)
                            }
                        </th>

                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-5"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Users[0].EmployeeType)
                            }
                        </th>

                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-6"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Users[0].SAMAccountName)
                            }
                        </th>

                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-7"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Users[0].Description)
                            }
                        </th>

                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-8"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Users[0].UserPrincipalName)
                            }
                        </th>

                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-9"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Users[0].AccountDisabled)
                            }
                        </th>

                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-10"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Users[0].PasswordDoesNotExpire)
                            }
                        </th>

                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-11"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Users[0].PasswordCannotChange)
                            }
                        </th>


                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-12"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Users[0].PasswordExpired)
                            }
                        </th>


                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-13"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Users[0].AccountLockedOut)
                            }
                        </th>


                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-14"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Users[0].CACExtendedInfo)
                            }
                        </th>


                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-15"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Users[0].UAC)
                            }
                        </th>


                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-16"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Users[0].UserName)
                            }
                        </th>


                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-17"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Users[0].DN)
                            }
                        </th>


                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-18"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Users[0].Created)
                            }
                        </th>


                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-19"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Users[0].Changed)
                            }
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AD_Users)
                    {
                        <tr>
                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-0"))
                                {

                                    @item.ADUserId
                                }
                            </th>
                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-1"))
                                {

                                    @item.ProgramOffice
                                }
                            </th>
                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-2"))
                                {

                                    @item.CACexemptionreason
                                }
                            </th>
                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-3"))
                                {

                                    @item.SmartCardRequired
                                }
                            </th>
                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-4"))
                                {

                                    @item.UserEmailAddress
                                }
                            </th>

                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-5"))
                                {

                                    @item.EmployeeType
                                }
                            </th>

                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-6"))
                                {

                                    @item.SAMAccountName
                                }
                            </th>

                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-7"))
                                {

                                    @item.Description
                                }
                            </th>

                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-8"))
                                {

                                    @item.UserPrincipalName
                                }
                            </th>

                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-9"))
                                {

                                    @item.AccountDisabled
                                }
                            </th>

                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-10"))
                                {

                                    @item.PasswordDoesNotExpire
                                }
                            </th>

                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-11"))
                                {

                                    @item.PasswordCannotChange
                                }
                            </th>


                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-12"))
                                {

                                    @item.PasswordExpired
                                }
                            </th>


                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-13"))
                                {

                                    @item.AccountLockedOut
                                }
                            </th>


                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-14"))
                                {

                                    @item.CACExtendedInfo
                                }
                            </th>


                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-15"))
                                {

                                    @item.UAC
                                }
                            </th>


                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-16"))
                                {

                                    @item.UserName
                                }
                            </th>


                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-17"))
                                {

                                    @item.DN
                                }
                            </th>


                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-18"))
                                {

                                    @item.Created
                                }
                            </th>


                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-19"))
                                {

                                    @item.Changed
                                }
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            <br />
        </form>
    }
    else if (Model.DataSet == 1)
    {
        <h1>Display Tables</h1>
        <form>
            <div style="color:red;">
                @ViewData.Model.StatusMessage
                <br />
                @ViewData.Model.NumMessage
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-0"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Computers[0].ADComputerName)
                            }
                        </th>
                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-1"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Computers[0].ProgramOffice)
                            }
                        </th>
                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-2"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Computers[0].OSType)
                            }
                        </th>
                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-3"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Computers[0].OSVersion)
                            }
                        </th>
                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-4"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Computers[0].ServicePack)
                            }
                        </th>

                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-5"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Computers[0].Created)

                            }
                        </th>

                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-6"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Computers[0].Changed)
                            }
                        </th>

                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-7"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Computers[0].UAC)
                            }
                        </th>

                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-8"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Computers[0].AccountDisabled)
                            }
                        </th>

                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-9"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Computers[0].SmartCardRequired)
                            }
                        </th>

                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-10"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Computers[0].Description)
                            }
                        </th>

                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-11"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Computers[0].DN)
                            }
                        </th>


                        <th>
                            @if (Model.DataSetOptions.Contains("DataSetsOptions-12"))
                            {

                                @Html.DisplayNameFor(model => model.AD_Computers[0].Win7StatusExtendedinfo)
                            }
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AD_Computers)
                    {
                        <tr>
                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-0"))
                                {

                                    @item.ADComputerName
                                }
                            </th>
                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-1"))
                                {

                                    @item.ProgramOffice
                                }
                            </th>
                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-2"))
                                {

                                    @item.OSType
                                }
                            </th>
                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-3"))
                                {

                                    @item.OSVersion
                                }
                            </th>
                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-4"))
                                {

                                    @item.ServicePack
                                }
                            </th>

                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-5"))
                                {

                                    @item.Created
                                }
                            </th>

                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-6"))
                                {

                                    @item.Changed
                                }
                            </th>

                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-7"))
                                {

                                    @item.UAC
                                }
                            </th>

                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-8"))
                                {

                                    @item.AccountDisabled
                                }
                            </th>

                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-9"))
                                {

                                    @item.SmartCardRequired
                                }
                            </th>

                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-10"))
                                {

                                    @item.Description
                                }
                            </th>

                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-11"))
                                {

                                    @item.DN
                                }
                            </th>


                            <th>
                                @if (Model.DataSetOptions.Contains("DataSetsOptions-12"))
                                {

                                    @item.Win7StatusExtendedinfo
                                }
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            <br />
        </form>
    }
}

@section Scripts{
    <script src="~/js/dtAD.js"></script>
}